#{extends 'main.html' /}
#{set title:'Home' /}

#{if game.win}
    <h1>You WIN</h1>
#{/if}
#{else}
    <h1>You LOSE !!!!</h1>
#{/else}


<!--
Your played <br/>

#{list game.theHands(), as:'hand'}
    <img src="/public/images/${hand}.png" width="50px" height="50px">
#{/list}
-->

<br/>
<br/>

<table class="table table-responsive">
    <thead>
        <th>Player ${game.rounds.get(0).yourIp}</th>
        <th>VS</th>
        <th>Player ${game.rounds.get(0).opponentIp}</th>
    </thead>
    <tbody>
        #{list game.rounds, as:'round'}
        <tr #{if !round.win}style="background-color: #f2dede;"#{/if}#{else}style="background-color: #eeffee;"#{/else}>
            <td><img src="/public/images/${round.yourHand}.png" width="50px" height="50px"></td>
            <td></td>
            <td><img src="/public/images/${round.opponentHand}.png" width="50px" height="50px"></td>
        </tr>
        #{/list}
    </tbody>
</table>
